/*slider switch */
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
  margin-right: -40px !important;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.theme-switch-wrapper label {
  margin-bottom: 0px !important;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #506172;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  top: car;
  width: 12px;
  height: 12px;
  background-color: #506172;
  bottom: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid #506172;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: transparent;
  border: 1px solid #d9d9d9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
  background-color: #d9d9d9;
}


/* Dark Switch */
body.dark,
.dark svg {
    background-color: #1d1d1d;
}

.dark .card, 
.dark .footer-sticky,
.dark nav,
.dark .dropdown-menu,
.dark .search-box,
.dark .search-box input,
.dark .man,
.dark .woman {
    background-color: #2b2b2b;
    color: #d9d9d9;
}

.dark .search-box {
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1) inset;
}

.dark .card form input, 
.dark .card form textarea {
  background-color: #2b2b2b;
}

.dark .card form input:focus,
.dark .card form textarea:focus {
  border: 1px solid #fff !important;
  background-color: rgb(27,27,27);
}

.dark .home .card,
.dark nav a,
.dark .card-title,
.dark .nav-link,
.dark .navbar-toggler i {
    color: #d9d9d9 !important;
}

.dark .contact-btn {
  background-color: #2b2b2b;
  color: #d9d9d9;
  border-color: #d9d9d9;
}

.dark .dropdown-item:hover {
  background-color: #1f1d1d !important;
}

/* dark mode support
@media (prefers-color-scheme: dark) {
	html {
		filter: invert(92%) hue-rotate(190deg) brightness(88%);
	}
	img:not(.ignore-color-scheme), video:not(.ignore-color-scheme), .ignore-color-scheme {
		filter: invert(100%) hue-rotate(180deg) brightness(150%) !important;
	}
} */